---
title: "Community"
---

<div class="community section">
  <h2>加入我们</h2>

  <p>Ember.js 的源码托管在 <a href="https://github.com/emberjs/ember.js">GitHub</a>上。要贡献补丁，只需在 Github 上创建一个项目分值并提交一个 Pull Request。请确保包含你添加的任何新特性的单元测试和文档。</p>
</div>

<div class="community section">
  <h2>报告问题</h2>

  <p>如果你在 Ember.js 发现了一个 bug，请务必告之我们。要提交一个 bug，访问<a href="https://github.com/emberjs/ember.js/issues">问题跟踪</a> 并创建一个问题。
  完整的 bug 报告包含一份什么没有发生和你期待发生什么的清晰描述。包含创建在 <a href="http://jsfiddle.net/qKXJt/">JSFiddle</a> 上的一份失败的单元测试或一个微缩的测试案例会更引人注目！</p>
</div>

<div class="community section">
  <h2>获取帮助</h2>

  <p><a href="http://stackoverflow.com">StackOverflow</a> 可以用来追踪问题。只需要把你的问题打上 <code>emberjs</code> 标签或 <a href="http://stackoverflow.com/questions/tagged/emberjs">搜索带有这个标签的问题</a>。请在提问前搜索已有的答案。</p>

  <p>同样可以在 Freenode 上找到 <code>#emberjs</code> 的 IRC 频道。关于连接到 Freenode 的更多信息，请见 <a href="http://www.freenode.net">Freenode 的网站</a>
</div>
