---
title: "指导"
---

<h1>指导</h1>
	
当前下列 Ember.js 指导可用：
<ul id='guide_list'>
<% data.guides.each do |guide_name, properties| %>
  <% unless properties[:hidden] %>
    <%= link_to_page properties[:name], "/guides/#{guide_name}" %>
  <% end %>
<% end %>
</ul>	
